<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">foodzonline</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="header-underline">Thank you</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 thanx-container">
                    <h4>Thank you {{ address.firstName }} {{ address.lastName }}.</h4>
                    <br>
                    <h4>We have received your order ID: {{ orderId }}, for Rs. {{ totalBill }}</h4>
                    <br>
                    <h4>We will deliver your order to the following address:</h4>
                    <br>
                    <h5>{{ address.addressLine1 }}</h5>
                    <h5>{{ address.addressLine2 }}</h5>
                    <h5>{{ address.cityName }}</h5>
                    <h5>{{ address.stateName }}</h5>
                    <h5>{{ address.pincode }}</h5>
                    <br>
                    <h5>Phone Number : {{ address.phoneNumber }}</h5>
                </div>
            </div>
            <div class="row" id="thankyouGoHomeContainer">
                <div class="col-xs-12">
                    <a href="#" class="btn btn-primary btn-lg">Go Back Home</a>
                </div>
            </div>
        </div>
    </div>
</div>