.cuisine-container {
    padding-left: 3em;
}

.container-underline {
    border-bottom: 1px solid #708090;
    padding-bottom: 0.5em;
}

.header-underline {
    display: inline-block;
    width: 200px;
    border-bottom: 1px solid #708090;
    padding-bottom: 0.3em;
}

.food-item-row {
  padding-bottom: 10px;
}

.food-item-count {
  margin-right: 10px;
}

.address-container, .chkout-summary-container {
    padding-left: 3em;
    margin-top: 30px;
}

.thanx-container {
    padding-left: 3em;
}

button + button {
    margin-left: 5px;
}

.container-overline {
  border-top: 1px solid #708090;
  padding-top: 0.5em;
}

#checkoutBtnContainer {
  margin-top: 40px;
}

.empty-cart {
  margin-top: 30px;
  text-align: center;
}

#confirmOrderBtnContainer, #thankyouGoHomeContainer {
  margin-top: 50px;
  text-align: center;
}

#checkoutForm input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

#checkoutForm input.ng-valid.ng-touched {
  border: 1px solid #509D12;
  /*background-color: #78FA89;*/
}

#checkoutForm.ng-invalid [type="submit"] {
  background: gray;
  border: none;
}

.help-block.form-error-block {
  color: #DA3637;
}
