<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">foodzonline</a>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Order</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-7" style="padding-right: 20px;">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="header-underline">Menu</h3>
                </div>
            </div>

            <div class="row" ng-repeat="menu in foodMenu track by $index">
                <div class="col-xs-12 cuisine-container">
                    <h3>{{ menu.cuisine }}</h3>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row container-underline">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-5"><strong>Item</strong></div>
                                <div class="col-xs-3"><strong>Price</strong></div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br>
                            <div class="row food-item-row" ng-repeat="item in menu.foodItems track by $index">
                                <div class="col-xs-1">{{ item.id + 1 }}</div>
                                <div class="col-xs-5">{{ item.name }}</div>
                                <div class="col-xs-3">Rs. {{ item.price }}</div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-default btn-xs" aria-label="Add Item" ng-click="addItem(menu.id, item.id)">
                                        <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" aria-label="Remove Item"
                                    ng-click="removeItem(menu.id, item.id)"
                                    ng-if="orderList.length !== 0">
                                        <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-5" style="padding-left: 20px;">
            <div class="row" ng-if="orderList.length !== 0">
                <div class="col-xs-12">
                    <h3>Order</h3>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row container-underline">
                                <div class="col-xs-4">Item</div>
                                <div class="col-xs-5">Count</div>
                                <div class="col-xs-3">Amount</div>
                            </div>
                            <br>

                            <div class="row food-item-row" ng-repeat="food in orderList track by $index">
                                <div class="col-xs-4">{{ food.item.name }}</div>
                                <div class="col-xs-5">
                                    <span class="food-item-count">{{ food.quantity }}</span>
                                    <button type="button" class="btn btn-default btn-xs" aria-label="Add Item" ng-click="addItem(food.cuisineType, food.foodItemIndex)">
                                        <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs" aria-label="Remove Item" ng-click="removeItem(food.cuisineType, food.foodItemIndex)">
                                        <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-xs-3">Rs. {{ food.quantity * food.item.price }}</div>
                            </div>

                            <div class="row container-overline">
                                <div class="col-xs-4"><strong>Total</strong></div>
                                <div class="col-xs-5"><strong>{{ totalItems }}</strong></div>
                                <div class="col-xs-3"><strong>{{ totalBill }}</strong></div>
                            </div>

                            <div class="row" id="checkoutBtnContainer">
                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="toCheckout()">Check Out</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>