<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">foodzonline</a>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="#">Order</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">

    <form name="checkoutForm" id="checkoutForm" novalidate>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="header-underline">Checkout</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 address-container">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control"
                                    name="firstName" id="firstName" ng-model="address.firstName"
                                    ng-required="true" ng-pattern="/^[a-zA-Z ]*$/">
                                    <span ng-show="checkoutForm.firstName.$invalid && checkoutForm.firstName.$touched"
                                    class="help-block form-error-block">Invalid First Name</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" class="form-control"
                                    name="lastName" id="lastName" ng-model="address.lastName"
                                    ng-required="true" ng-pattern="/^[a-zA-Z ]*$/">
                                    <span ng-show="checkoutForm.lastName.$invalid && checkoutForm.lastName.$touched"
                                    class="help-block form-error-block">Invalid Last Name</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="addressLine1">Address Line 1</label>
                                    <input type="text" class="form-control"
                                    name="addressLine1" id="addressLine1" ng-model="address.addressLine1"
                                    ng-required="true" ng-pattern="/\w/g">
                                    <span ng-show="checkoutForm.addressLine1.$invalid && checkoutForm.addressLine1.$touched"
                                    class="help-block form-error-block">Invalid Address Line 1</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="addressLine2">Address Line 2</label>
                                    <input type="text" class="form-control"
                                    name="addressLine2" id="addressLine2" ng-model="address.addressLine2"
                                    ng-required="true" ng-pattern="/\w/g">
                                    <span ng-show="checkoutForm.addressLine2.$invalid && checkoutForm.addressLine2.$touched"
                                    class="help-block form-error-block">Invalid Address Line 2</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="cityName">City</label>
                                    <input type="text" class="form-control"
                                    name="cityName" id="cityName" ng-model="address.cityName"
                                    ng-required="true" ng-pattern="/^[a-zA-Z ]*$/">
                                    <span ng-show="checkoutForm.cityName.$invalid && checkoutForm.cityName.$touched"
                                    class="help-block form-error-block">Invalid City Name</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="stateName">State</label>
                                    <input type="text" class="form-control"
                                    name="stateName" id="stateName" ng-model="address.stateName"
                                    ng-required="true" ng-pattern="/^[a-zA-Z ]*$/">
                                    <span ng-show="checkoutForm.stateName.$invalid && checkoutForm.stateName.$touched"
                                    class="help-block form-error-block">Invalid State Name</span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="pincode">Pin Code</label>
                                    <input type="number" class="form-control"
                                    name="pincode" id="pincode" ng-model="address.pincode"
                                    ng-required="true" ng-pattern="/^\d{6}$/">
                                    <span ng-show="checkoutForm.pincode.$invalid && checkoutForm.pincode.$touched"
                                    class="help-block form-error-block">Invalid Pin Code</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="phoneNumber">Phone Number</label>
                                    <input type="number" class="form-control"
                                    name="phoneNumber" id="phoneNumber" ng-model="address.phoneNumber"
                                    ng-required="true" ng-pattern="/^[789]\d{9}$/">
                                    <span ng-show="checkoutForm.phoneNumber.$invalid && checkoutForm.phoneNumber.$touched"
                                    class="help-block form-error-block">Invalid Phone Number</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="header-underline">Order Summary</h3>
                    </div>
                </div>

                <div class="row empty-cart" ng-if="orderList.length === 0">
                    <div class="col-xs-12">
                        <h4>Your Cart is Empty</h4>
                    </div>
                </div>

                <div class="row" ng-if="orderList.length !== 0">
                    <div class="col-xs-12 chkout-summary-container">
                        <div class="row container-underline">
                            <div class="col-xs-5">Item</div>
                            <div class="col-xs-4">Count</div>
                            <div class="col-xs-3">Amount</div>
                        </div>
                        <br>

                        <div class="row food-item-row" ng-repeat="food in orderList track by $index">
                            <div class="col-xs-5">{{ food.item.name }}</div>
                            <div class="col-xs-4">
                                <span>{{ food.quantity }}</span>
                                <button type="button" class="btn btn-default btn-xs" aria-label="Add Item" ng-click="addItem(food.cuisineType, food.foodItemIndex)">
                                    <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs" aria-label="Remove Item" ng-click="removeItem(food.cuisineType, food.foodItemIndex)">
                                    <span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-3">Rs. {{ food.quantity * food.item.price }}</div>
                        </div>

                        <div class="row container-overline">
                            <div class="col-xs-5"><strong>Total</strong></div>
                            <div class="col-xs-4"><strong>{{ totalItems }}</strong></div>
                            <div class="col-xs-3"><strong>{{ totalBill }}</strong></div>
                        </div>
                    </div>
                </div>

                <div class="row" id="confirmOrderBtnContainer">
                    <div class="col-xs-12">
                        <input type="submit" ng-show="orderList.length !== 0" class="btn btn-primary btn-lg" ng-click="confirmOrder(address)" ng-disabled="checkoutForm.$invalid"
                         value="Confirm Order"></button>
                        <a href="#" ng-show="orderList.length === 0" class="btn btn-primary btn-lg">Go Back Home</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>